{% load static %}
{% load custom_filters %}  <!-- Load your custom filter -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Dashboard</title>
</head>
<body>
  {% include 'components/header.html' %}
  {% include 'components/sidebar.html' %}

  <main>
    <section class="dashboard-overview">
      <h2>Settings</h2>
    </section>

    <section class="recent-activity">
      <h2>Recent Change</h2>
      <ul>

      </ul>
    </section>
  </main>

  <script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>
